@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap);
* {
    margin: 0;
    padding: 0;
}
.mokuji {
    background-color: #92caff;
    text-align: center;
    font-size: 25px;
    font-family: "メイリオ", Meiryo;
    color: white;
    padding-bottom: 80px;
    margin: 100px;
    border-radius: 50% 20% / 10% 40%;
}
.about-akumanomi {
    line-height: 35px;
    margin-bottom: 50px;
}
.akumanomi-text {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
}
a { color:white; text-decoration:none; }
.akumanomi-demerit {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
}
.about-demerit {
    line-height: 35px;
    margin-bottom: 50px;
}
.about-syurui {
    line-height: 35px;
    margin-bottom: 50px;
}
.akumanomi-syurui {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
}
.mokuji-title {
    padding-top: 15px;
    padding-bottom: 15px;
}
.paramisia {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
    padding-top: 70px;
    padding-bottom: 15px;
    margin-top: -60px;
}
.zoonn {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
    padding-top: 70px;
    padding-bottom: 15px;
    margin-top: -60px;
}
.rogia {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
    padding-top: 70px;
    padding-bottom: 15px;
    margin-top: -60px;
}
.about-kakusei {
    line-height: 35px;
    margin-bottom: 200px;
}
.akumanomi-kakusei {
    font-size: 20px;
    font-family: "メイリオ", Meiryo;
    color: #555;
}
